body {
    background: #151515;
    color: #f0f0f0;
    font-family: 'Noto Sans Display', 'Noto Sans JP', sans-serif;
    height: 100%;
    margin: 0;
    padding-top: 16vh;
    text-align: center;
    width: 100%;
}
#app {
    background: rgba(100%, 100%, 100%, 7%);
    border-radius: 10px;
    margin: auto;
    max-width: 35em;
    min-width: min(25em, 86%);
    padding: 20px;
    width: 40%;
    margin-bottom: 20px;
}
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.links a {
    border-radius: 4px;
    color: #fafafa;
    background: #fa50a0;
    margin: 2px;
    padding: 5px 10px;
    transition-duration: 100ms;
    transition-delay: 40ms;
    flex-basis: 0;
    flex-grow: 1;
    white-space: nowrap;
}
.links a:hover {
    background: #fb69ad;
    transform: translateY(-5px);
}
footer {
    color: #d0d0d0;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Fira Code', monospace;
    justify-content: space-around;
    margin-top: 15px;
    padding: 0 10px;
    white-space: nowrap;
}
a {
    color: #fa50a0;
    text-decoration: none;
}
b {
    color: #fafafa;
}
footer a {
    margin: 0 0.8em;
}
p {
    padding: 0 4%;
    text-align: left;
}
.mono {
    color: #e0e0e0;
    font-family: 'Fira Code', monospace;
}
.loading {
    background: rgba(100%, 100%, 100%, 7%);
    margin: 10px;
    padding: 6px 20px;
    border-radius: 15px;
    display: inline-block;
    color: #e0e0e0;
    font-family: 'Fira Code', monospace;
    animation: 1s infinite loading-pulse alternate ease;
}
.loading::after {
    content: '';
    margin: 0 0.2em;
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border: 0.2em solid #f0f0f0;
    border-left-color: transparent;
    border-radius: 100%;
    animation: 1s infinite loading-spinner linear;
}
@keyframes loading-spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes loading-pulse {
    from {
        background: rgba(100%, 100%, 100%, 7%);
    }
    to {
        background: rgba(100%, 100%, 100%, 12%);
    }
}
